.App {
  display: flex;

  align-items: center;
  justify-content: center;

  text-align: center;
}

.appContainer {
  display: flex;
  alignitems: center;
  justifycontent: center;
  flex-direction: column;
}
.statusContainer {
  padding: 2rem;
  border: 3px solid gray;
  border-radius: 10px;
  margin: 20px;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 3px solid gray;
  border-radius: 10px;
  margin: 20px;
}

.resultContainer {
  display: "flex";
  border: 3px solid gray;
  border-radius: 10px;
  margin: 20px;
}
.center {
  display: flex;

  align-items: center;
  justify-content: center;
}
.resultContainer {
  display: flex;
  fontsize: 2rem;
  flex-grow: 1;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 2rem;
  border: 3px solid gray;
  border-radius: 10px;
}

.inputData {
  width: 100%;
}
